<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="dotnet" arguments=".\Ballers.API.dll" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" hostingModel="inprocess" />
      <httpErrors errorMode="Custom" existingResponse="PassThrough">
        <remove statusCode="403" />
        <error statusCode="403" responseMode="File" path="app_offline.htm" />
        <remove statusCode="503" />
        <error statusCode="503" responseMode="File" path="app_offline.htm" />
      </httpErrors>
    </system.webServer>
  </location>
</configuration>
